<div class="page-size-chooser">
    Items por página:
    <select style="width: 70px;" @onchange="HandleChange" value="@ItemsPerPage">
        @foreach (var option in Options)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>

