@page "/RecoverPassword"
@if (loading)
{
    <Loading />
}

<div class="login-wrapper mt-5">
    <div class="login-container">

        <div class="col-md-12">
            <h3><i class="bi bi-envelope-at-fill"></i> Enviar email para recuperación de contraseña</h3>

            <EditForm Model="emailDTO" OnValidSubmit="SendRecoverPasswordEmailTokenAsync">
                <DataAnnotationsValidator />

                <div class="form-group">

                    <label>Email:</label>
                    <div>
                        <InputText class="form-control" @bind-Value="@emailDTO.Email" />
                        <ValidationMessage For="@(() => emailDTO.Email)" />
                    </div>
                </div>

                <div class="form-group mt-2">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-send" /> Enviar</button>
                </div>

            </EditForm>
        </div>

    </div>
</div>
