@page "/"

@if (categoriaDTO is null)
{
    <Loading />
}
else
{
    @foreach (var category in categoriaDTO)
    {
        <h3 style="text-align:center"> @category.Name</h3>

          <CarouselCategoryProduct Cards="@category.Productos" />
    }
}
