@page "/"

@if (categoriaDTO is null)
{
    <Loading />
}
else
{
    @foreach (var category in categoriaDTO)
    {
        <div class="card-title text-center">
            <h3>@category.Name</h3>
        </div>

         <CarouselCategoryProduct Cards="@category.Productos" />
    }
}
